@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

body {
  background-color: #ff6a6a;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: #333;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url("/assets/bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: repeat-y;
  height: fit-content;
  width: 100%;
  align-items: center;
  justify-content: center;
}

/* Logo  */

.logo {
  background: url("/assets/bg1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: repeat-y;
  border-bottom: #fdff10 4px solid;
}

.logo svg {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bolder;
  width: 100%;
  height: 100%;
}

svg text {
  animation: stroke 5s alternate;
  animation-iteration-count: infinite;
  background: #22212108;
  text-shadow: 1px 1px 12px rgb(20, 94, 231);
  backdrop-filter: blur(1px);
  stroke-width: 5;
  stroke: #fdff10;
  font-size: 100px;
  fill: rgb(255, 255, 255);
  /* fill: rgb(255, 255, 255);  */
  stroke: rgba(251, 255, 16, 0);
}

/* Logo end */

#app {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(auto-fill, 250px);
  padding: 24px;
  padding-top: 40px;
  grid-gap: 24px;
}

.note {
  height: 250px;
  box-sizing: border-box;
  width: 100%;
  text-align: center;
  padding: 16px;
  border: black 2px solid;
  border-radius: 14px;
  box-shadow: 0 0 7px rgba(72, 156, 202, 0.505);
  resize: none;
  font-size: 24px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  transition: box-shadow 0.2s;
}

.note:focus {
  outline: none;
}

.add-note {
  height: 250px;
  border: rgb(6, 245, 6) 4px dashed;
  outline: none;
  background: rgba(127, 186, 157, 0.516);
  border-radius: 14px;
  font-size: 120px;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.5);
  transition: background 0.2s;
}

.add-note:hover {
  background: rgba(0, 0, 0, 0.2);
}

/* Logo Animation */
@keyframes stroke {
  0% {
    fill: rgb(255, 255, 255);
    stroke: rgba(253, 255, 16, 1);
    stroke-dashoffset: 25%;
    stroke-dasharray: 0 50%;
    stroke-width: 2;
  }

  70% {
    fill: rgba(0, 0, 0, 0);
    stroke: rgba(253, 255, 16, 1);
  }

  80% {
    fill: rgba(0, 0, 0, 0);
    stroke: rgba(253, 255, 16, 1);
    stroke-width: 3;
  }

  100% {
    fill: rgb(255, 255, 255);
    stroke: rgba(251, 255, 16, 0);
    stroke-dashoffset: -25%;
    stroke-dasharray: 50% 0;
    stroke-width: 0;
  }
}

@media screen and (max-width: 950px) {
  svg text {
    font-size: 60px;
    margin: 0 auto;
  }
  body {
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
  }

  #app {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(auto-fill, 250px);
    padding: 24px;

  }
  .add-note {
    font-size: 80px;
    margin: 0 auto;
    width: 100%;
    height: auto !important ;
  }
}

body::-webkit-scrollbar {
  width: 12px;
}
 
body::-webkit-scrollbar-track {
  background: rgba(99, 135, 174, 0.532);
  box-shadow: inset 0 0 3px rgba(201, 168, 168, 0.692);
  border-radius: 10px;
}
 
body::-webkit-scrollbar-thumb {
  background-color: rgb(224, 112, 255);
  outline: 2px solid rgb(26, 39, 53);
  border-radius: 10px;
}
